.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.skip-link__button {
  position: absolute;
  left: -9999px;
  padding: 1rem 1.5rem;
  background: #7c3aed;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: left 0.2s ease;
}

.skip-link__button:focus {
  left: 0;
  outline: 3px solid #fff;
  outline-offset: 2px;
}

.skip-link__button:hover:focus {
  background: #6d28d9;
}
